/**************************
	GENERAL
**************************/

html {
    height: 100%;
}

body {
	background-color: #A8BFD0;
	height: 100%;
}

ul {
	list-style: none;
}

li {
	display: inline-block;
}

a {
	color: white;
}

h3 {
	text-align: center;
	color: white;
	font-size: 4em;
	text-decoration-line: underline;
}

h4 {
	margin: 0 0 1em 0;
}


/**************************
	HEADING
**************************/

header {
	margin: 0;
	padding: 0;
	width: 100%;
}


/**************************
	NAVIGATION
**************************/

header {
	display: none;
}

nav {
	text-align:center;
	overflow: hidden;
	background-color: lightgray;
	top: 0;
	width: 100%;
	position: fixed;
	z-index: 1;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav li{
	float: center;
	width: 24%;
}

nav a {
	font-weight: 800;
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

nav li:hover {
	background-color: darkgray;
}

nav a:link, nav a:visited {
	color: black;
}

#nav_name {
	display: none;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

/**************************
	COVER
**************************/
#cover{
	background: linear-gradient(to top, #A8BFD0, rgb(168, 191, 208, 0)),
                url('../img/cover.jpg') no-repeat center / cover;
	height: 100%;
	position: relative;
	text-align: center;
	padding-top: 70px;
    padding-bottom: 90px;
    margin-bottom: 120px;
}

#cover h1 {
	color: white;
	font-size: 6em; 
	font-style: normal;
	font-weight: bold;
	text-align: center;
    line-height: 1.3;
    text-shadow: 5px 8px 10px rgba(0, 0, 0, .25);
    margin: 12px 0 0;
}

#cover h3 {
    font-size: 1.25em; /* 20px/16px */
    color: #48525c;
    line-height: 1.2;
    margin-bottom: 1.7em; /* 34px */
}

.cover-links {
	margin-top: 20px;
}

.cover-links li {
	margin: 10px;
	border-radius: 10px;
	padding: 10px;
}

.cover-links li:hover{
	background-color: rgb(255, 255, 255, 0.5);
	transition: 0.5s;
}

.cover-links a {
	display: flex;
	flex-direction: column;
	text-decoration: none;
}

.cover-links a:hover p{
	opacity: 1;
}

.cover-links p {
	opacity: 0;
	transition: 0.5s;
	margin: 0;
	color: #000;
}

.cover-links img{
	height: 60px;
	width: 60px;
	margin: 5px;
	filter: brightness(0);
}

.down-arrow {
	width: 20px;
	height: 20px;
	margin-top: 170px;
}

.down-arrow a:active, a:focus {
	outline: none;
}

.bounce {
	animation: bounce 4s infinite;
	animation-delay: 3s;
}
  
@keyframes bounce {
	0%, 12%, 25%, 37%, 50%, 100% {
		transform: translateY(0);
	}
	20% {
		transform: translateY(-20px);
	}
	30% {
		transform: translateY(-12px);
	}
}

/**************************
	PAGE: ABOUT
**************************/

#about {
	width: 75%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 0 auto 20px auto;
	padding-top: 50px;
}

#about code {
	font-size: medium;
}

#about p {
	margin-top: 0;
	font-size: x-large;
}

#about p span {
	display: inline-block;
}

#profile_pic {
	height: 450px;
	border: 5px solid #FFF;
	border-radius: 150px;
	margin-left: 50px;
}

#about_bio {
	text-align: left;
	color: white;
	max-width: 550px;
}

#about_bio h3 {
	text-align: left;
	margin: 10px 0 0.5em 0;
}

/**************************
	PAGE: PROJECTS
**************************/    

.project-gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 5em;
}

.project {
	width: 300px;
	background-color: white;
	padding: 1em;
	border-radius: 10px;
}

.project a {
	color: black;
}

.project-screenshot {
	width: 300px;
	height: 150px;
	object-fit: cover;
	object-position: top;
	border-radius: calc(1em - 10px) calc(1em - 10px) 0 0
}

.project-links {
	display: flex;
	justify-content: space-between;
}


/**************************
	PAGE: TIMELINE
**************************/    
.timeline {
	list-style: none;
	padding: 20px 0 20px;
	position: relative;
}

.timeline > li {
	margin-top: 10px;
	margin-bottom: 10px;
	position: relative;
	width: 100%;
}

.timeline > li > .timeline-panel {
	width: 30%;
	margin: 0 auto;
	right: calc(15% + 20px + 15px);
	background-color: white;
	border: 1px solid #d4d4d4;
	border-radius: 2px;
	padding: 20px;
	position: relative;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}
.timeline > li > .timeline-panel:before {
	position: absolute;
	top: 26px;
	right: -15px;
	display: inline-block;
	border-top: 15px solid transparent;
	border-left: 15px solid #ccc;
	border-right: 0 solid #ccc;
	border-bottom: 15px solid transparent;
	content: " ";
}
.timeline > li > .timeline-panel:after {
	position: absolute;
	top: 27px;
	right: -14px;
	display: inline-block;
	border-top: 14px solid transparent;
	border-left: 14px solid #fff;
	border-right: 0 solid #fff;
	border-bottom: 14px solid transparent;
	content: " ";
}
.timeline > li > .timeline-badge {
	color: #fff;
	width: 50px;
	height: 50px;
	line-height: 50px;
	font-size: 1.4em;
	text-align: center;
	top: 16px;
	left: 50%;
	margin: auto;
	background-color: #999999;
	border-top-right-radius: 50%;
	border-top-left-radius: 50%;
	border-bottom-right-radius: 50%;
	border-bottom-left-radius: 50%;
}
.timeline > li.timeline-inverted > .timeline-panel {
	right: 0;
	left: calc(15% + 20px + 15px);
}
.timeline > li.timeline-inverted > .timeline-panel:before {
	border-left-width: 0;
	border-right-width: 15px;
	left: -15px;
	right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
	border-left-width: 0;
	border-right-width: 14px;
	left: -14px;
	right: auto;
}

.timeline::before {
	content: '';
    background: #C5CAE9;
    width: 5px;
    height: 95%;
    position: absolute;
    left: 50%;
	transform: translateX(-50%);
}

.timeline-year {
	text-align: center;
	width: 10%;
	margin: 0 auto;
	border: 1px solid #d4d4d4;
	border-radius: 2px;
	padding: 15px;
	background-color: #fff;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline-title {
	margin-top: 0;
	margin-bottom: 0;
	color: inherit;
}

.timeline-link {
	color: gray;
}

.timeline-body {
	display: none;
}

.timeline-body > p + p {
	margin-top: 5px;
}

.timeline-header {
	display: flex;
}

.timeline-panel:hover {
	cursor: pointer;
}

.company-icon {
	height: 35px;
	width: 35px;
	margin-right: 10px;
}


/**************************
	FOOTER
**************************/

footer {
	text-align: center;
	clear: both;
	padding-top: 50px;
	margin-bottom: 20px;
}

footer img {
	width: 35px;
	height: 35px;
	margin: 10px;
}

footer p {
	font-size: 1em;
}
