@media screen and (max-width: 600px) {
	/**************************
	    COVER
    **************************/
    #cover {
        padding-top: 45px;
    }
    
    #cover h1 {
        font-size: 4em;
    }

    .cover-links li {
        margin: 5px;
    }

    .cover-links img{
        height: 50px;
        width: 50px;
        margin: 5px
    }

    .cover-links p {
        font-size: small;
    }

    .down-arrow {
        margin-top: 120px;
    }
    
    
    /**************************
	    PAGE: ABOUT
    **************************/
    
    #about {
        flex-direction: column;
        margin: auto;
    }
    
    #profile_pic {
        height: auto;
        width: 80%;
        border-radius: 100px;
        margin: 0 0 0 20px;
    }

    #about_bio h3 {
        font-size: xx-large;
        text-align: center;
        text-decoration-line: underline;
    }
}

/*
@media screen and (min-width: 720px) {
    #nav_name {
        display: inline;
    }

    #nav_items {
        float: right;
    }



    /**************************
	   HEADER
    **************************/
    /*
    body {
        background-color: #444;
    }

    nav {
        background: none;
        float: right;
        font-size: 1.125em;
        text-align: right;
        width: 45%;
    }

    #nav_name {
        float: left;
        margin-left: 5%;
        text-align: left;
        width: 45%
    }

    h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 0.825em;
        margin-bottom: 20px
    }

    header {
        border-bottom: 5px solid #599a68;
        margin-bottom: 60px;
    }
    */
    /**************************
	   PAGE: ABOUT
    **************************/
    /*
    #page-gallery li {
        width: 30%;
    }

    #page-gallery li:nth-child(3) {
        clear: left;
    }
    */
    /**************************
	   PAGE: ABOUT
    **************************/
    /*
    .profile-photo {
        float: left;
        margin: 0 5% 80px 0;
    }
    
}*/
