@media screen and (max-width: 600px) {
	/**************************
	    COVER
    **************************/
    #cover {
        padding-top: 45px;
    }
    
    #cover h1 {
        font-size: 4em;
    }

    .cover-links li {
        margin: 5px;
    }

    .cover-links img{
        height: 50px;
        width: 50px;
        margin: 5px
    }

    .cover-links p {
        font-size: small;
    }

    .down-arrow {
        margin-top: 120px;
    }
    
    
    /**************************
	    PAGE: ABOUT
    **************************/
    
    #about {
        flex-direction: column-reverse;
        margin: auto;
    }

    #about code {
        font-size: small;
    }
    
    #about p {
        font-size: large;
    }

    #profile_pic {
        height: auto;
        width: 80%;
    }

    #about_bio h3 {
        font-size: xx-large;
    }
}

@media screen and (max-width: 1000px) {
   /**************************
	    PAGE: ABOUT
    **************************/
    
    #about {
        flex-direction: column-reverse;
        margin: auto;
    }

    #profile_pic {
        border-radius: 100px;
        margin: auto;
    }

    #about_bio h3 {
        text-align: center;
    }
}